<form #loginForm="ngForm" novalidate>
    <app-custom-stepper linear>
        <cdk-step>
            <ion-item>
                <ion-datetime
                        [(ngModel)]="_dateOfBirth"
                        name="dateOfBirth"
                        #dateOfBirthNgModel="ngModel"
                        appSelectedDateIsOlderThanLegalAdultAge
                        placeholder="Date of Birth"
                        max="{{getCurrentDateInInternationalFormat()}}"
                        (ionCancel)="onUserCanceledDatePicker()"
                >
                </ion-datetime>
                <ion-text *ngIf="dateOfBirthNgModel.errors" color="danger">
                    <p
                            *ngIf="dateOfBirthNgModel.errors.selectedDateIsOlderThanLegalAdultAge"
                    >
                        You need to be 18+.
                    </p>
                </ion-text>
                <ion-text
                        *ngIf="dateOfBirthNgModel.value === undefined && _hasUserCanceledDatePicker"
                >
                    <!-- Work around because ion-datetime runs validation as soon as user enters the datepicker which is undesireble behaviour which we do not want to do
                    because it shows error message before the appropriate moment -->
                    <p>
                        Date of birth is required
                    </p>
                </ion-text>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button
                            (click)="next()"
                            color="light"
                            expand="block"
                            [disabled]="!dateOfBirthNgModel.valid || dateOfBirthNgModel.value === undefined"
                    >Next
                    </ion-button
                    >
                    <!-- todo Make this more DRY-->
                </ion-col>
            </ion-row>
        </cdk-step>
        <cdk-step>
            <ion-item>
                <ion-input
                        [(ngModel)]="_userName"
                        name="userName"
                        type="text"
                        #userNameModel="ngModel"
                        spellcheck="false"
                        autocapitalize="off"
                        minlength="4"
                        required
                        placeholder="Username"
                >
                </ion-input>
            </ion-item>
            <ion-text *ngIf="userNameModel.errors" color="danger">
                <p *ngIf="userNameModel.errors.minlength">
                    It needs to be at least 4 characters long.
                </p>
                <p *ngIf="userNameModel.errors.required && userNameModel.dirty">
                    Username is required
                </p>
            </ion-text>
            <ion-row>
                <ion-col>
                    <ion-button
                            (click)="next()"
                            color="light"
                            expand="block"
                            [disabled]="!userNameModel.valid"
                    >Next
                    </ion-button
                    >
                </ion-col>
            </ion-row>
        </cdk-step>
        <cdk-step>
            <ion-item>
                <ion-row>
                    <ion-radio-group [(ngModel)]="_gender" name="gender" #genderNgModel="ngModel">
                        <ion-label>Gender</ion-label>
                        <ion-row>
                            <ion-col *ngFor="let allowedGender of _allowedGenders">
                                <ion-item>
                                    <ion-label>{{allowedGender | titlecase}}</ion-label>
                                    <ion-radio></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-radio-group>
                </ion-row>
            </ion-item>
            <ion-row>
                <ion-col>
                    <ion-button
                            (click)="next()"
                            color="light"
                            expand="block"
                            [disabled]="!genderNgModel.value === undefined"
                    >Next
                    </ion-button
                    >
                </ion-col>
            </ion-row>
        </cdk-step>
        <cdk-step>
            <ion-item>
                <ion-input
                        [(ngModel)]="_phoneNumber"
                        name="phoneNumber"
                        type="text"
                        #phoneNumberModel="ngModel"
                        required
                        placeholder="Phone number"
                >
                </ion-input>
            </ion-item>
            <ion-text *ngIf="phoneNumberModel.dirty && phoneNumberModel.errors && phoneNumberModel.errors.required" color="danger">
                Phone number is required.
            </ion-text>
            <ion-row>
                <ion-col>
                    <ion-button id="sign-in-button" (load)="initializeReCAPTCHAVerifier()" (click)="signIn()" color="light" expand="block"
                                [disabled]="!phoneNumberModel.valid"
                    >Submit
                    </ion-button
                    >
                </ion-col>
            </ion-row>
        </cdk-step>
        <cdk-step>
            <ion-input
                    [(ngModel)]="_verificationCode"
                    name="verificationCode"
                    type="number"
                    #verificationCodeModel="ngModel"
                    minlength="6"
                    maxlength="6"
                    required
            >
            </ion-input>
            <ion-row>
                <ion-col>
                    <ion-button
                            (click)="confirmVerificationCode()" color="light" expand="block"
                                [disabled]="!verificationCodeModel.valid">
                        Submit
                    </ion-button>
                </ion-col>
            </ion-row>
        </cdk-step>
    </app-custom-stepper>
</form>
<div id="reCAPTCHA-container"></div>
